footer {
    background-color: #2A3132;
    color: white;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.footer-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover {
    text-decoration: underline;
    color: blue;
}
