footer {
    background-color: #2A3132;
    color: white;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.footer-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
    color: rgb(187, 187, 255);
}
a:hover {
    text-decoration: underline;
    color: aquamarine;
}
