.dream {
  background-color: #fde087;
  border-radius: 5px;
  font-size: 22px;
  font-weight: bolder;
}

.dream-container {
width: 100%;
max-width: 1200px;
overflow: hidden;
}

.moving-text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation: moveText 12s linear infinite alternate-reverse;
}

@keyframes moveText {
  0% {
    transform: translateX(-100%);
    background-color: #868266;
  }
  50% {
    transform: translateX(0);
    background-color: #f39d4c;
  }
  100% {
    transform: translateX(100%);
    background-color: #c7f306;
  }
}

@media (max-width: 576px) {
.dream {
  font-size: 18px;
}

.dream-container {
  width: 100%;
  max-width: 100%; 
  margin: 0 auto; 
}

.moving-text {
  font-size: 20px;
  white-space: normal;
  animation: moveText 8s linear infinite alternate;
}
}
