.dream {
    background-color: #fde087;
    border-radius: 5px;
    font-size: 22px;
    font-weight: bolder;
}

.dream-container {
  width: 1200px;
  overflow: hidden;
}

.moving-text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    animation: moveText 20s linear infinite alternate;
  }
  
  @keyframes moveText {
    0% {
      transform: translateX(-100%);
    }
    50%{
        transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }