<div class="container mt-4">
    <div class="d-flex flex-column align-items-start">
      <h2 class="my-2">About Us</h2>
      <div class="row">
        <span class="details my-2">Welcome to RBcars!</span>
        <span class="details my-2"> We offer the best car price for resale cars in town.</span>
        <span class="details my-2"> We also buy cars and provide easy and helpful transactions.</span>
        <div class="dream-container">
          <span class="details dream my-2 moving-text">Find Your Dream Car Today! With Us ! Give us a Call !</span>
      </div>
      </div>
    </div>
  </div>
  