<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid d-flex justify-content-between">
      <a class="navbar-brand" routerLink="/">RBcars</a>
      <span class="dhruv-title">(Part of Dhruv Cars)</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
  