* {
    padding: 5px;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #2A3132;
    color: white;
  }
  
  nav .logo {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
  }

  .nav-color {
    color: #ffffff !important;
  }

.navbar-brand {
    font-size: 30px;
    font-weight: 800;
    color: #ffffff !important;
}

.dhruv-title{
    position: relative;
    top: 6px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
}
  