div {
    padding: 5px;
}
p {
    padding: 5px;
    margin-bottom: 5px; 
    border-radius: 5px;
    list-style-type: none;
}

.background {
    padding: 5px 15px;
    background-color: #dcd4bc;
    border-radius: 10px;
}

p:hover {
    color: black;
    background-color: #fde087;
    border-radius: 5px ;
    cursor:text;
}

.contact-details {
    display: flex;
}

.contact {
    font-size: 18px;
    margin-right: 120px;
}