<div class="container mt-4">
    <div class="d-flex flex-column align-items-start">
      <h2>Contact Us</h2>
      <div class="details">If you have any questions, please reach out to us at contact@rbcars.in.</div>
      <div class="details">Or you can also call and check with us!</div>
      <div class="contact-details" style="display: flex;">
        <span class="contact details">Pravin Singh
            <p class="details">8433556221</p>
            <p class="details">9323589026</p>
        </span>
        <span class="contact details">Sharad Singh
            <p class="details">7977379526</p>
            <p class="details">9324810146</p>
        </span>
      </div>
    </div>
  </div>
  