<div class="container mt-4">
    <div class="d-flex flex-column align-items-start">
      <h2>Contact Us</h2>
      <div class="details">If you have any questions, please reach out to us at <span class="contact details background"> singhsrijan809@gmail.com</span></div>
      <div class="details">Or you can also call and check with us!</div>
      <div class="contact-details" style="display: flex;">
        <span class="contact details background">Pravin Singh
            <p class="details">+91-8433556221</p>
            <p class="details">+91-9323589026</p>
        </span>
        <span class="contact details background">Sharad Singh
            <p class="details">+91-7977379526</p>
            <p class="details">+91-9324810146</p>
        </span>
      </div>
    </div>
  </div>
  