<app-navbar></app-navbar>
<div class="d-flex flex-column min-vh-100 background-img">
    <div class="container flex-grow-1 d-flex flex-column ">
        <div class="row flex-grow-1">
            <div class="col about-col">
                <app-about></app-about>
            </div>
        </div>
        <div class="row flex-grow-1">
            <div class="col about-col">
                <app-services></app-services>
            </div>
            <div class="col services-col">
                <app-contact></app-contact>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
